body, html {
    height: 99%;
    font-family: 'Open Sans';
    font-size: 22px;
    background: #000;
  }

a:link {
    color: rgb(64, 61, 238)
}

a:visited {
    color: rgb(14, 11, 211)
}

* {
    box-sizing: border-box;
}
h1 { 
    color: white; 
}
.bg-image {
    background-image: url("/assets/japan.jpg");
    filter: blur(0.5vmax);
    -webkit-filter: blur(0.5vmax);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.woozpc {
    width: 25%;
}

.bg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 10vh 0;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    color: white;
    font-weight: 300;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
}
.centre-list {
    text-align: center;
}

.centre-list > ul {
    list-style-type: none;
    padding-left: 0px;
}