body {
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(../assets/circ.png);
    background-repeat: repeat;
}

.row {
    display: flex;
}

body>.column {
    flex: 50%;
    float: left;
}

.mid {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

.blij img {
    height: 110px;
}

.spoiler {
    color: transparent;
}

.spoiler:hover {
    color: white
}

.image:hover {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.imageZoom:hover {
    animation-duration: 3s;
    animation-name: bigboy;
    animation-iteration-count: infinite;
}

@keyframes bigboy {
    from {
        width: 100%;
    }
    50% {
        width: 400%;
    }
    to {
        width: 100%;
    }
}